html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}



.page-title {
    padding-bottom: 15px;
    color: #1313df;
}

.company-card {
    margin-bottom: 15px;
}

.company-card-title {
    font-size: large;
    font-weight: 500;
    font-style: italic;
    color: #074f8d;
    border-bottom: solid;
    border-bottom-width: thin;
}

.pic-holder {
    text-align: center;
    position: relative;
    border-radius: 50%;
    border: 1px solid #ced4da;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .pic-holder .pic {
        max-width: 200px;
        max-height: 150px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }

    .pic-holder .upload-file-block,
    .pic-holder .upload-loader {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(90, 92, 105, 0.7);
        color: #f8f9fc;
        font-size: 12px;
        font-weight: 600;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
    }

    .pic-holder .upload-file-block {
        cursor: pointer;
    }

    .pic-holder:hover .upload-file-block,
    .uploadProfileInput:focus ~ .upload-file-block {
        opacity: 1;
    }

    .pic-holder.uploadInProgress .upload-file-block {
        display: none;
    }

    .pic-holder.uploadInProgress .upload-loader {
        opacity: 1;
    }

/* Snackbar css */
.snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 14px;
    transform: translateX(-50%);
}

    .snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }


.invoice-logo img {
    border-radius: 4px;
    max-width: 200px;
    max-height: 150px;
    overflow: hidden;
    border: 1px solid #ced4da;
}

.items-header {
    background: #074f8d;
    color: white;
}

.invoice-container {
    border: 1px solid #ced4da;
    padding:20px;
}

@media print {
    .non-print {
        display: none !important;
    }
}
