@model Customer

<div class="modal fade" id="customer-modal" data-bs-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Customer </h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="customer-form">
                <div class="modal-body">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="form-group col">
                                <label>Customer Name:</label>
                                <input type="text" class="form-control" id="editCustomerName" asp-for="Name">
                            </div>
                            <div class="form-group col">
                                <label>Contact Name:</label>
                                <input type="text" class="form-control" id="editCustomerContact" asp-for="Contact">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col">
                                <label>Phone:</label>
                                <input type="text" class="form-control" id="editCustomerPhone" asp-for="Phone">
                            </div>
                            <div class="form-group col">
                                <label>Email Address:</label>
                                <input type="text" class="form-control" id="editCustomerEmail" asp-for="Email">
                            </div>
                        </div>
                    </div>

                    <div class="card company-card">
                        <div class="card-body">
                            <div class="card-title company-card-title">Address Information</div>
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" placeholder="1234 Main St" id="editCustomerAddress" asp-for="Address">
                            </div>
                            <div class="form-group">
                                <label>Address 2</label>
                                <input type="text" class="form-control" placeholder="Apartment, studio, or floor" id="editCustomerAddress2" asp-for="Address2">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>City</label>
                                    <input type="text" class="form-control" id="editCustomerCity" asp-for="City">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>State</label>
                                    <input type="text" class="form-control" id="editCustomerState" asp-for="State">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Zip</label>
                                    <input type="text" class="form-control" id="editCustomerZip" asp-for="Zip">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Country</label>
                                    <input type="text" class="form-control" id="editCustomerCountry" asp-for="Country">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card company-card">
                        <div class="card-body">
                            <div class="card-title company-card-title">Customer Notes</div>
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea class="form-control" id="editCustomerNotes" asp-for="Notes" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="hidden" class="form-control" id="editCustomerId"> <!--This is required for the delete-->
                    <button type="button" class="btn btn-danger ml-2 btn-customer-delete-modal"><i class="fa-solid fa-trash p-1"></i>Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

                <div asp-validation-summary="ModelOnly">
                    <span>Please correct the following errors</span>
                </div>
            </form>
        </div>
    </div>
</div>