@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<div class="container">
    <h3 class="page-title">Generate Invoice</h3>

    <form class="needs-validation" id="invoice-form" novalidate>
        <!--CUSTOMER INPUT-->
        <div class="row">
            <div class="col-5">
                <input name="customerName" type="text" class="form-control" placeholder="Enter Customer Name" required>
                <div class="invalid-feedback">Enter a Customer.</div>
            </div>
            <div class="col-5"></div>
            <div class="col">
                <button class="addLineItemBtn btn btn-primary" type="button">Add Line Item</button>
            </div>
        </div>

        <!--FORM "TABLE" HEADER-->
        <div class="row mt-3">
            <div class="col-5"><h5>Item Name</h5></div>
            <div class="col"><h5>Quanity</h5></div>
            <div class="col"><h5>Price per Unit</h5></div>
            <div class="col"><h5>Total Price</h5></div>
            <div class="col"><h5>Remove</h5></div>
        </div>

        <!--FORM "TABLE"-->
        <div id="invoice-form-body">
            <div class="line-item row my-1" id="line-item">
                <!--ITEM NAME-->
                <div class="col-5">
                    <input name="itemname" type="text" class="form-control" placeholder="Item" required>
                    <div class="invalid-feedback">Enter an Item.</div>
                </div>
                <!--ITEM QUANTITY-->
                <div class="col">
                    <input name="itemquantity" type="number" min="0" class="form-control" placeholder="0" required>
                    <div class="invalid-feedback">Enter a Quantity.</div>
                </div>
                <!--UNIT PRICE-->
                <div class="col input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input name="unitprice" type="number" min="0.00" step=".01" class="form-control" placeholder="0.00" required>
                    <div class="invalid-feedback">Enter a Unit Price.</div>
                </div>
                <!--TOTAL PRICE-->
                <div class="col input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input name="totalprice" type="number" min="0.00" step=".01" class="form-control" placeholder="0.00" required>
                    <div class="invalid-feedback">Enter a Total Price.</div>
                </div>
                <!--REMOVE ITEM-->
                <div class="col">
                    <button type="button" class="btn btn-outline-primary" onclick="if(this.parentNode.parentNode.parentNode.childElementCount > 1) { return this.parentNode.parentNode.remove(); }">Remove</button>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3" onclick="fakeSubmit()">Generate Invoice</button>
    </form>
</div>

<script>

    $(document).ready(function () {

        $(".addLineItemBtn").click(function () {
            $('#line-item').clone().appendTo('#invoice-form-body');
        });

    });

    function fakeSubmit() {
        var formData = JSON.stringify($("#invoice-form").serializeArray());
        alert(formData);
    }

    // JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

</script>

