@model Invoice

@section Scripts{

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="~/js/InvoiceList.js"></script>

}

<h3 class="page-title">Invoice History</h3>

<table id="invoiceTable" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Invoice Number</th>
            <th>Customer Name</th>
            <th>Invoice Date</th>
            <th>Due Date</th>
            <th>Invoice Total</th>
            <th></th>
        </tr>
    </thead>
</table>


