@model Customer

@section Scripts{
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

    <script src="~/js/Customer.js"></script>

}


<h3 class="page-title">Customer Information</h3>

@*
    References:
    https://getbootstrap.com/docs/5.2/components/modal/
    https://stackoverflow.com/questions/17142790/bootstrap-modal-not-working-at-all
    https://datatables.net/examples/ajax/objects.html
*@

@Html.AntiForgeryToken()

<!-- Button Trigger Customer Modal -->
<div class="mb-3">
   
    <button type="button" id="customerAddButton" class="btn btn-success" ><i class="fa-solid fa-plus p-1"></i>Add Customer</button>

</div>

<!-- Edit Customer Modal -->
<partial name="_customerModal">

<!-- Delete Customer Confirmation Modal-->
<partial name="_customerDeleteConfirmationModal">

    <table id="cutomer-table" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Address 2</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Notes</th>
                <th></th>
            </tr>
        </thead>
    </table>
