<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>CustomerId</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Address</th>
            <th>Address 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
   @*  <tbody>
        <tr>
            <td>Tiger Nixon</td>
            <td>123 Test Ln</td>
            <td></td>
            <td>Testville</td>
            <td>CT</td>
            <td>12345</td>
            <td>USA</td>
            <td>123-456-7890</td>
            <td>tigernixon@gmail.com</td>
        </tr>
    </tbody> *@
    <tfoot>
        <tr>
            <th>CustomerId</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Address</th>
            <th>Address 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </tfoot>
</table>

@section Scripts{

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    <script src="~/js/Customer.js"></script>
}