@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 home-title">Welcome to Open Invoice</h1>
    <h3 class="home-subtile">A Free, Simplified Approach To Invoicing and Billing</h3>
    <img src="Images/invoice.jpg" class="home-image" alt="invoice photo" width="500" height="600">
</div>


