@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Open Invoice</h1>
    <h3>A Free, Simplified Approach To Invoice and Billing</h3>
    <img src="Images/invoice.jpg" class=".img-thumbnail" alt="invoice photo" width="500" height="600">
</div>


