@model Company

<h3 class="page-title">Company Information</h3>
<div id="company-form">
    @using (Html.BeginForm())
    {
        @using (Html.DevExtreme().ValidationGroup())
        {
            @Html.AntiForgeryToken()

            @(Html.DevExtreme().Form<Company>()
                            .FormData(Model)
                            .ID("form")
                            .OnInitialized("companyForm_onInitialized")
                            .OnContentReady("companyForm_onContentReady")
                            .Items(items =>
                            {
                                    items.AddGroup()
                                        .CssClass("first-group")      
                                        .Caption("General Info")
                                        .ColCount(4)
                                        .Items(groupItems =>
                                        {
                                            groupItems.AddSimple().Template("<img id='company-logo' class ='form-avatar' src='#'alt='your image' />");
                                            groupItems.AddSimple()
                                                        .Label(e => e.Visible(false)).Template(@<text>
                                                            @(Html.DevExtreme().FileUploader()
                                                                .Name("Photo")
                                                                .SelectButtonText("Change Logo")
                                                                .LabelText("")
                                                                .Accept("image/*")
                                                                .UploadMode(FileUploadMode.UseForm)
                                                                .OnValueChanged("fileUploader_onValueChanged"))

                                                                </text>
        );
                                                groupItems.AddGroup().ColSpan(2).Items(secondGroupItems =>
                                                {
                                                    secondGroupItems.AddSimpleFor(m => m.Name);
                                                    secondGroupItems.AddSimpleFor(m => m.Contact);                                              
                                                    secondGroupItems.AddSimpleFor(m => m.Phone)
                                                        .Editor(e => e
                                                            .TextBox()
                                                            .InputAttr("aria-label", "Mask")
                                                            .Mask("+1 (000) 000-0000")
                                                        );
                                                    secondGroupItems.AddSimpleFor(m => m.Email).Label(l => l.Text("Email Address"));

                                                });

                                            });

                                    items.AddGroup()
                            .Caption("Adress")
                            .CssClass("second-group")
                            .ColCount(2).Items(groupItems =>
                            {

                                                groupItems.AddGroup().Items(secondGroupItems =>
                                                {

                                                    secondGroupItems.AddSimpleFor(m => m.Address);
                                                    secondGroupItems.AddSimpleFor(m => m.Address2);                                              

                                                });

                                                groupItems.AddGroup().Items(secondRightItems => {

                                                    
                                                     secondRightItems.AddGroup().ColCount(2).Items(innerGroupItems => {

                                                        innerGroupItems.AddSimpleFor(m => m.City);                                      
                                                        innerGroupItems.AddSimpleFor(m => m.State);
                                                     });

                                                    secondRightItems.AddGroup().ColCount(2).Items(innerGroupItems => {

                                                        innerGroupItems.AddSimpleFor(m => m.Zip).Label(l => l.Text("Zip Code"));
                                                        innerGroupItems.AddSimpleFor(m => m.Country);                                        
                                                        
                                                
                                                    });

                                                    
                                            });


                                        });

                                    items.AddGroup()
                                        .Caption("Notes & Terms")
                                        .Items(groupItems => {

                                            groupItems.AddSimpleFor(m => m.Notes)
                                            .Editor(e => e
                                            .TextArea()
                                            .InputAttr("aria-label", "Notes")
                                            .Height(140)
                                             );

                                             groupItems.AddSimpleFor(m => m.Terms)
                                            .Editor(e => e
                                            .TextArea()
                                            .InputAttr("aria-label", "Terms & Conditions")
                                            .Height(140)
                                            );
                                        
                                        });
                                    
                                    items.AddButton()
                                         .HorizontalAlignment(HorizontalAlignment.Left)
                                         .ButtonOptions(b => b.Text("Save")
                                         .Type(ButtonType.Success)
                                         .OnClick("companyForm_onSubmit")
                                         );
                                    items.AddSimpleFor(m => m.Logo).Editor(editor => editor.TextBox().Visible(false)).Label(label => label.Visible(false));
                                        
                            })
                            
            
            
            )
        }
    }
</div>
@(Html.DevExtreme().Toast()
        .ID("company-toast")
        .DisplayTime(900)
)

@section Scripts{

    <script src="~/js/Company.js"></script>

}